<div>
  <form #myForm="ngForm" (ngSubmit)="addProduct(myForm)">
    <label for="nameFormsControl">Name</label>
      <input
        (ngModelChange)="onChange()"
        [(ngModel)]="newProduct.name"
        #name="ngModel"
        type="text"
        id="nameFormsControl"
        name="name"
        class="form-control"
        minlength="5"
        required
        [ngClass]={error:name.invalid}
      >
    <br>
    <div *ngIf="name.invalid || name.untouched" style="color: red">Невалидное значение</div>

    <label for="priceFormsControl">Price</label>
      <input
        [(ngModel)]="newProduct.price"
        #price="ngModel"
        type="number"
        id="priceFormsControl"
        name="price"
        min="100"
        required
      >
    <br>
    <div *ngIf="price.invalid || price.untouched" style="color: red">Невалидное значение</div>

    <label for="descFormsControl">Description</label>
      <input
        #desc="ngModel"
        [(ngModel)]="newProduct.description"
        type="text"
        id="descFormsControl"
        name="description"
      >
    <br>
<!--    <button [disabled]="myForm.invalid" (click)="addProduct()">Add</button>-->
    <input type="submit" [disabled]="myForm.invalid" value="Add">
  </form>

  <ul>
    <li *ngFor="let prod of products">
      <p>Name: {{ prod.name }} {{prod.price}} {{ prod.description }}</p>
    </li>
  </ul>
</div>
